.App {
  text-align: center;
}
.navbar-nav a {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 18px;
  /* text-transform: uppercase; */
  /* text-decoration: none; */
  letter-spacing: 0.15em;
  line-height: 27px;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.navbar-nav .hover:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: #114A90;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-nav .hover:hover:after { 
  width: 100%; 
  left: 0; 
}

.my-theme{
  font-family: 'Poppins';
  font-weight: 700;
  color: #114A90 !important ;
  background-color:  #E5E5E5 !important ;
}

.active{
    border-bottom: 5px solid #114A90;
    color: #114A90 !important;
}
.link-theme{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 18px;
  color: #000 !important;
  margin-left: 96px;
}

.box-pict{
  position: absolute;
  width: 499px;
  height: 541px;
  left: 140px;
  top: 100px;

  border-radius: 0 97px;
background: #114A90;
box-shadow: inset 16px -16px 32px #0b2f5b,
            inset -16px 16px 32px #1765c5;
}
#box-pict{
  transition: top ease 0.5s;
}
#box-pict:hover {
  top: -5px;
}
.object-cover{
  position: relative;
  object-fit: content;
  /* height: 100%; */
  width: 100%;
}
.tagPro{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  margin-top: 80px;
  /* identical to box height */
  color: #114A90;
}

.tagPro2{
  font-weight: bold;
  font-size: 48px;
  margin-top: 8px;
  color: #201F25;
  line-height: 72px;
}

.headerProject{
  font-weight: bold;
  font-size: 28px;
  margin-top: 8px;
  color: #201F25;
  line-height: 72px;
}

.subHeaderProject{
  color: #201F25;
  font-size: 16px;
  font-weight: bold;
}

.subParagraph{
  color: #201F25;
  font-size: 18px;
  font-weight: bold;
}

.paragraph-project{
  font-size: 16px;
}
.project-image{
  width: 700px !important;
  height: 420px;
  margin: auto;
}
.mockup{
  width: 500px;
  height:100%;
}

.image-flow{
  width: 800px;
  height:100%;
  margin:auto;
}

.final-result-project{
  width:800px;
  height:auto;
  margin:auto;
}

.list{
  font-size: 14px;
}

.image-problem{
  height: 400px;
  width: 800px;
}

.contact{
  margin-top: 10px;
  transition: 2s !important;
}

.contact:hover{ 
  transform: scale(1.3) !important;
}
.paragraph-pro{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  margin-top: 20px;
  color: #201F25;
}

.btn-primary{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold !important;
  font-size: 18px !important;
  line-height: 27px !important;
  /* identical to box height */

  background-color: #114A90 !important;
}

.btn-primary:hover{
  background-color: #0F3C73 !important;
}
.btn-text{
  padding: 10px 57px !important;
}

.projects-section{
  margin-top: 80px;
}

.project-ornament{
  position: absolute;
  width: 100%;
  height: 660px;
  left: 0px;
  top: 640px;
  margin-top: 3rem !important;
  background-color: #114A90;
  box-shadow: inset 16px -16px 32px #0b2f5b,
            inset -16px 16px 32px #1765c5;
}

.projectsTag{
  font-size: 36;
  font-weight: bold;
  margin-top: 4rem;
}
.projects-box{
  margin-top: 57px !important;
  margin-right: 82px;
  margin-left: 20px;
  width: 600px !important;
  height: 350px;
  left: 147px;
  top: 1111px;
  transition: 2s !important;
  /* background: #C4C4C4; */
  border-radius: 25px;
}

.project-second{
  margin-left: 30px !important;
}

.projects-box:hover {
  transform: scale(1.1) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.link-detail{
  font-family: 'Poppins';
  margin-top: 28px !important;
  margin-left: 20px;
  text-align: left;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;

}

.link-detail:hover{
  color: #fff;
  font-weight: bold;
}

.link-detail2{
  
  color: #000;

}
.link-detail2:hover{
  color: #1765c5;
  font-weight: bold;
}
.link-email{
  color: #114A90;
  font-weight: bold;
}
.link-email:hover{
  color: #1765c5;
  font-weight: bold;
}
.colChance{
  width: 100%  !important;
  height: 400px;
  left: 73px;
  top: 1742px;
  background: #FFFFFF;
  border-radius: 20px;
  margin-top: 196px !important;
}

.ornament-chance{
 
  width:100%;
  height: 254px;
  margin: 15% 50px ;
  
  border-radius: 0 50px 0 50px;
  background: #114A90;
  box-shadow: inset 16px -16px 32px #0b2f5b,
            inset -16px 16px 32px #1765c5;
}

.ornament2{
  position: relative;
  height: 300px;
}
.chance-project{
  height: 300px;
  margin-top: 20px !important;
}
.text-projects{
      
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  margin: 30px;
  padding-top: 43px;
  color: #FFFFFF;
  position: absolute;
  margin-top: -250px;
  z-index: 2;
  width: 200px;
  margin-left: 120px;
  width: 520px;
  height: 144px;
}
.email-project{
  margin-left:80px;
}
.text-collaboration{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  margin: 30px;
  padding-top: 43px;
  color: #FFFFFF;
}
.colAbout{
  width: 100%  !important;
  height: 100%;
  left: 73px;
  top: 1742px;
  background: #FFFFFF;
  border-radius: 20px;
  margin-top: 96px !important;
}
.ornament-about{
 
  width:350px;
  height: 400px;
  margin: 15% 50px ;
  
  border-radius: 0 50px 0 50px;
  background: #114A90;
  box-shadow: inset 16px -16px 32px #0b2f5b,
            inset -16px 16px 32px #1765c5;
}
.icon-skill{
  height: 120px;
  width: 120px;
  margin: 30px;
}

.tag-skill{
  margin-top: 50px;
}
.text-footer-tag{
  font-size: 36px;
  margin-left: 117px;
}
.text-footer-tag-paragraph{
 margin-top: 25px;
 margin-left: 117px;
}
.logo-footer{
  float: left;
  margin:25px;
  margin-left: 117px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.link-detail2{
  color: #000;
}

@media only screen and (max-width: 767.98px) {
  .contact{
    margin-left: -22px;
  }
  .pict{
    display: none;
  }
  .link-theme{
    margin-left: 0;
  }
  .box-pict{
    display: none;
  }
  .tagPro{
    font-size: 18px;
    line-height: 27px;
    margin-top: 53px;
  }
  .tagPro2{
    font-size: 24px;
    line-height: 36px;
  }
  .paragraph-pro{
    font-size: 14px;
    line-height: 21px;
    margin-top: 18px;
  }
  .btn-text{
    padding: 4px 22px !important;
    margin: 20px;
    margin-top: 0;
  }
  .btn-primary{
    font-size: 12px !important;
    line-height: 18px !important;
    /* identical to box height */
  
  }
  .contact{
    height: 18px;
    width: 17px;
    margin-top: 0 !important;
  }

  .projects-section{
    margin-top: 10px;
  }
  
  .project-ornament{
    top: 460px;
    height:850px !important;
    width: 400px;
    margin-top: 0 !important;
  }

  .image-problem{
    width: 100%;
    height: auto;
  }
  .projectsTag{
    margin-top: 1.5rem;
    font-size: 22px;
  }

  
  .projects-box{
    margin-top: 27px !important;
    margin-right: 82px;
    margin-left: 20px;
    width: 95% !important;
    height: 250px;
    left: 147px;
    top: 1111px;
    border-radius: 20px;
  }

  .project-second{
    margin-left: -10px !important;
  }
  .text-collaboration{
    font-size: 18px;
    line-height: 22px;
  }
  
  .email-collaboration{
    margin-top: 20px !important ;
  }
    .ornament-chance{
      width: 70%;
      height: 70%;
    }
    .link-detail2{
      margin: 20px !important;
    }
    .colChance{
      width: 95% !important;
      height: 300px;
      /* left: 73px; */
      margin-left: 10px !important;
      margin-top: 96px !important;
      /* top: 1742px; */
      background: #FFFFFF;
      border-radius: 20px;
    }

    .chance-project{
      height: 300px;
      margin-top: 20px !important;
    }
    .text-projects{
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      margin: 30px;
      padding-top: 43px;
      color: #FFFFFF;
      position: absolute;
      margin-top: -170px;
      z-index: 2;
      /* width: 200px; */
      margin-left: 20px;
      width: 250px;
      height: 144px;
    }
    .chance-text-project{
      color: #114A90;
      margin-top: 50px;
      font-size: 24px;
      height: 24px;
    }
    .ornament2{
     display: none;
    }
    .ornament-about{
      width:80%;
      height: 250px;
      margin: 25px ;
    }
    .tagPro2 {
      margin-top: 10px !important;
    }
    .colAbout{
      background: #FFFFFF;
      width: 90% !important;
      border-radius: 20px;
      margin-left: 20px !important;
      margin-top: 96px !important;
    }
    .tag-skill{
      margin-top: 20px !important;
    }
    .icon-skill{
      height: 80px;
      width: 80px;
      margin: 15px;
    }
    .headerProject{
      font-size: 18px;
      margin-top: 8px;
      line-height: 36px;
    }
    .project-image{
      width: 100% !important;
      height: auto;
      margin: auto;
    }
    .mockup{
      width: 100%;
      height:auto;
    }
    .image-flow{
      width: 100%;
      height:auto;
    }
    .final-result-project{
      width:100%;
      height:auto;
    }
    .subHeaderProject{
      font-size: 14px;
    }
    .subParagraph{
      font-size: 16px;
    }
    .paragraph-project{
      font-size: 14px;
    }
    .text-footer-tag{
      font-size: 28px;
      margin-left: 28px;
    }
    .text-footer-tag-paragraph{
      margin-top: 25px;
      margin-left: 28px;
     }
     .logo-footer{
       float: left;
       margin:25px;
       margin-left: 50px;
     }
     .icon-footer{
      height: 20px;
      width: 20px;
     }
}


@media only screen and (max-width:  575.98px) {
  .project-ornament{
    /* top: 0%; */
    height: 100vh;
    width: 100%;
    margin-top: 0 !important;
  }
  .projectsTag{
    margin-top: 10px;
    font-size: 22px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
